---
import Section1 from './Section1.astro';

const { id, component, props = {} } = Astro.props;
const buttonId = id + '_moveup'
---

<div {id} class:list={[ 'component', component ]}>
    <button id={buttonId}>Move up</button>
    {
        (() => {
            switch (component) {
                case 'section1': return <Section1 {...props} />;
            }
        })()
    }
</div>

<script define:vars={{ id, buttonId }}>
    document.getElementById(buttonId).addEventListener('click', function() {
        console.log(this.closest('#' + id));
    });
</script>
